@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Arvo", serif;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  display: flex;
  gap: 15px;
  font-size: 15px;
  height: 42px;
  width: 1250px;
}
 
li {
  padding-top: 10px;
  list-style: none;
}

li:hover {
  cursor: pointer;
  background-color: #fff;
  color: hsl(55, 100%, 50%)
}

.restaurantName {
  font-size: 95px;
  position: fixed;
  color: hsl(45, 94%, 53%);
  bottom: 100px;
  right: 15px;
  font-family: 'Source Serif 4', sans-serif;
}

.tabContent {
  height: 100%;
  width: 100%;
}

.heroSection {
  background: url("hoteltable.jpg");
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 32px;
  width: 100px;
  margin:0;
  padding: 120px;
  padding-top: 10px;
  padding-bottom: 0;
}


h2 {
  font-size: 22px;
  margin:0;
  padding: 120px;
  padding-top: 10px;
  padding-bottom: 0;
}

h3 {
font-size: 16px;
}
.menu, .home, .contact {
  display: none;
}

#menu.menu.active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Serif 4', sans-serif;
  margin: 0;
  padding: 50px;
}

#home.home.active {
  display: flex;
  height: 100%;
  width: 100%;
}

