@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Arvo", serif;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  display: flex;
  gap: 15px;
  font-size: 15px;
  height: 42px;
  width: 1250px;
}
 
li {
  padding-top: 10px;
  list-style: none;
}

li:hover {
  cursor: pointer;
  background-color: #fff;
  color: hsl(55, 100%, 50%)
}

.restaurantName {
  font-size: 95px;
  position: fixed;
  color: hsl(45, 94%, 53%);
  bottom: 100px;
  right: 15px;
}

.tab-content, #home {
  height: 100%;
  width: 100%;
}

.heroSection {
  background: url("hoteltable.jpg");
  height: 100%;
  width: 100%;
}

[dataset] {
  display: none;
}

.active {
  display: flex;
}

.menuSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}